extends ../layout/common

block content
	h1.display-1.ml-5 Create users

	h3.display-4.m-5 New users

	if errors
		each error in errors
			.alert.alert-danger= error

	form(action="/users/create", method="POST")
		.form-group
			label(for="nameCreate") Name  
			input#nameCreate.form-control(type="text", name="name", placeholder='Your Name', value= values ? values.name : "")
		.form-group
			label(for="ageCreate") Age 
			input#ageCreate.form-control(type="number", name="age", placeholder='Your Age', value= values ? values.age : "")
		button.btn.btn-primary(type='submit') Create