h1 Create Transaction

form(action="/transaction/create", method="POST")
    label Users: 
    select(name="User")
      ul
        each val in users
          option(value= val.name)= val.name
    br
    br
    label Books:
    select(name="book")
      ul
        each val in databooks
          option(value= val.title)= val.title
    br
    br
    button Create