extends ../layout/common

block content
  h1 Create users

  h3 New users
  form(action="/users/create", method="POST")
    label Name  
    input(type="text", name="name")
    br
    br
    label Age 
    input(type="number", name="age")
    br
    br
    button Create