h1 Create Transaction

form(action="/transaction/create", method="POST")
    label Users: 
    select(name="User")
      option()
    br
    br
    label Books:
    select(name="book")
      option
    br
    br
    button Create