extends ../layout/common

block content
  
  h1(class="text-info") This mini Lybrary
  div(class="d-flex flex-row")
    div(class="p-2") 
      a(href="/books") Books
    div(class="p-2") 
      a(href="/Users") Users
    div(class="p-2") 
      a(href="/transactions") Transactions
