extends ../layout/common

block content
  link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  h1(class="text-info") This mini Lybrary
  div(class="d-flex flex-row")
    div(class="p-2") 
      a(href="/books") Books
    div(class="p-2") 
      a(href="/Users") Users
    div(class="p-2") 
      a(href="/transactions") Transactions
