extends ../layout/common

block content
  h1 This mini Lybrary
  div(class="btn-group" role="group" aria-label="Basic example")
    button(type="button" class="btn btn-secondary") Books
    button(type="button" class="btn btn-secondary") Users
    button(type="button" class="btn btn-secondary") Transactions

    