
h1 Library

h3 Books:
ul
each val in databooks
  li= val.title
br
h3 Add Book:
form(action="/books", method="POST")
  label Title: 
  br
  input(type="text", name="title")
  br
  br
  label Description:
  br
  input(type="text", name="description")
  br
  br
  button ADD