h1 List Transactions

ul
  each value, index in transactions
    li= 'Transaction: ' + index
      ul
        each val, key in value
          li=key + ': ' + val
a(href="/transactions/create") ADD a transaction