extends ../layout/common

block content
  h1 Update users

  h3 hello #{name}
  form(action="/users/update/" + name, method="POST")
    label Name : 
    input(type="text", name="name")
    br
    br
    label Age : 
    input(type="number", name="age")
    br
    br
    button UPDATE
