h1 Update users

form(action="#" + val.title, method="POST")
  label Update : 
  input(type="text", name="title", value="Write something here" )
  br
  button UPDATE
form(action="#" + val.title, method="POST")
  label Delete :
  br
  button DELETE