h1 Users manager

h3 Users
ul
  each val in users
    li= val.name
    span
      a(href="/users/delete/:" + val.name) Delete 
      span &nbsp
      a(href="/users/delete/:" + val.name) Update
a(href="/users/create") Add users

