html
  head
    title My mini project
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="icon", href="https://cdn.glitch.com/7794528a-abbc-48ff-8019-fe11266c8137%2Fbower-logo.png?v=1594540325770", type="image/gif", sizes="64x64")
    link(href="/public/custom.css")
  body
    block content
    
  
    