extends ../../layout/common

block content
		h1.display-1.ml-5 Users manager

		h3.display-1.m-5 Users

		table.table
			tr
				th(scope="col") Name
				th(scope="col") Age
				th(scope="col") Action
				th(scope="col") Email

			each val in users
				tr
					td= val.name
					td= val.age
					td
						form(action="/users/delete/" + val.id, method="POST")
							button.btn.btn-primary DELETE
							
						form(action="/users/update/" + val.id, method="GET")
							button.btn.btn-primary UPDATE
					td= val.email

			a.btn.btn-outline-info.m-2(href="/users/create") Add users

