extends ../../layout/common

block content
	h1.display-4.m-5 Hello Admin
	h5.display-4.m-5 Have you a good day :) 
	a(href="/transactions/create").btn.btn-outline-info.m-2 ADD a transaction
	ul
		each value, index in transactions
			li= 'Transaction: ' + index
				ul
					form(action="/transactions/" + value.id + "/complete", method="POST")
						label Is Complete: 
						select(name="isComplete")
							option(value= "true") True
							option(value= "false") False
						button Change
					each val, key in value
						li=key + ': ' + val

	