extends ../../layout/common

block content

	h3.display-4.m-5 User: #{name}


	table
		tr
			th(scope="col") Book
			th(scope="col") isComplete

		each val in transaction
			tr
				td= val.book
				td= val.isComplete